body{
    /* margin: 20px; */
    /* background-color: rgb(255, 255, 255); */
    padding:auto;
}
h3{color: red;
    font-style:inherit;
    font-size: x-large;
    border: 5px solid rgb(64, 255, 0) ;
    border-radius:0px 20px 0px 20px ;
    width:fit-content;
    padding: 10px;
    margin-inline: auto;
    background-color: rgb(55, 52, 227);
    box-shadow: rgb(15, 18, 14) 5px 5px;

}
.intro{
    text-align: center;
    color: blue;
     word-spacing: 5px;
}
.name{
    color: red;
    font-size: xx-large;
    font-weight: bolder;
}
.img{
    display: flex;
    justify-content: center;
}
.about{
    font-size: larger;
    background-color: antiquewhite;
    width: fit-content;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    margin-left: 50px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(189, 207, 29);
    justify-content: center;
    align-items: center;
}